<!-- @if (authService.isLoading()) {
  <div class="loading-screen">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>
} @else {
  @if (showNavbar) {
    <app-navbar />
  }

  <main class="page-content">
    <router-outlet />
  </main>

  @if (showNavbar) {
    <app-footer />
  }
} -->
@if (authService.isLoading()) {
  <div class="loading-screen">Loading...</div>
} @else {
  @if (showNavbar) {
    <app-navbar />
  }

  <main class="page-content">
    <router-outlet />
  </main>

  @if (showNavbar) {
    <app-footer />
  }
}